*{
box-sizing: border-box;
padding: 0;
margin: 0;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
width: 100%;
min-height: 100vh;
background:#5555ab;
display: flex;
color: #fff;
}

.App .container {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background: #04042b;
}

.App .container .input-file{
  background: rgb(154, 201, 228);
  padding: 20px;
  color: aliceblue;
}

.App .container .result {
  background: cadetblue;
  padding: 20px;
}

.App .container .result p span {
color: black;
font-weight: 600;
}

.App .option {
  display: flex;
  justify-content: space-between;
  padding: 60px 0;
  width: 100%;
}

.App .option div {
  width: 100%;
  max-width: 42%;
}

.App .container div input {
  padding: 8px;
  border: none;
  outline: none;
  width: 100%;
  background: white;
  color: #04042b;
}

.App .container button {
  align-self: flex-end;
  border: none;
  outline: none;
  padding: 14px;
  width: 100%;
  font-size: 22px;
  cursor: pointer;
  background: #292977;
  color: #fff;
}